@import '../../fonts/font';
// span badge
.customBadge{
    display: inline-block;
    color: #0054dc;
    background-color: #d0edfe;
    padding: 5px 8px;
    font-family: 'vazir';
    font-size: medium;
    border-radius: 5px;
}