// div labels
.label{
    display: inline-block;
    direction: rtl;
    font-family: 'vazir';
    padding-top: 10px;
    // item label
    &__span--label{
        color: #5e7488;
    }
    // item value
    &__span--value{
        color: #333333;
        padding: 0px 10px;
    }
}