.wrapper {
    direction: rtl;
    font-family: "vazir";
    height: auto;
    color: #364254;
    padding-bottom: 500px !important;
    .product_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #ffffff;
        border: 1px solid #e0e6e9;
        box-sizing: border-box;
        border-radius: 2px;
        margin: 0px 14px;
        margin-top: 6px;
        font-weight: 500;
        font-size: 4vw;
        padding: 12px;
        height: 43px;
        cursor: pointer;
        .product_header_link {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #364254;
            .product_header_link_icon {
                margin: 0px 10px;
            }
        }
    }
    .product_card {
        direction: rtl;
        margin: 0px 14px;
        margin-top: 11px;
        background: #ffffff;
        border: 1px solid #e0e6e9;
        box-sizing: border-box;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        padding: 9px;
        // first row
        .first_row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .product_name_wrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
                .name_product {
                    font-size: 4.3vw !important;
                }
                .image_product {
                    width: 45px;
                    height: 45px;
                    background: #c4c4c4;
                    margin-left: 10px;
                }
            }
            // icon more
            .icon_more {
                font-size: 5vw;
                color: #5e7488;
                cursor: pointer;
            }
        }
        // second row
        .second_row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            font-size: 3.7vw;
        }
        // third row
        .third_row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-top: 20px;
            // icons
            .icons {
                font-size: 3.7vw;
                margin-left: 10px;
            }
        }
    }
}

.wrapperDes {
    direction: rtl;
    grid-column: 1/-1;
    grid-row: 1/-1;
    .part_top {
        margin-top: 15px;
        h1 {
            color: #5e7488;
            font-family: IRANSans;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 25px;
        }
        &_main {
            margin-top: 25px;
            background: #ffffff;
            border: 1px solid #e0e6e9;
            box-sizing: border-box;
            box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05);
            border-radius: 5px;
            height: 340px;
        }
    }
    .part_bottom {
        background: #ffffff;
        border-radius: 5px;
        border: 1px solid #e0e6e9;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05);
        box-sizing: border-box;
        height: 340px;
        margin-top: 32px;
        &_header {
            display: flex;
            .right {
                display: flex;
                margin: 15px 24px;
                h1 {
                    align-self: center;
                    margin-left: 30px;
                }
                .btn {
                    background: #fff;
                    background: #007aff;
                    border: 0;
                    border-radius: 5px;
                    outline: 0;
                    &_in {
                        padding: 8px;
                        display: flex;
                        align-items: center;
                        span {
                            font-size: 15px;
                            margin-left: 15px;
                            color: #fff;
                        }
                        h1 {
                            background: #007aff;
                            border-radius: 5px;
                            color: #fff;
                            font-size: 14px;
                        }
                    }
                }
            }
            .left {
                display: flex;
                div {
                    display: flex;
                }
            }
        }
    }
}