// wwrapper
.wrapper{
    direction: rtl;
    display: flex;
    flex-direction: column;
    font-family: 'vazir';
    height: 100vh;
    // form
    .form{
        background-color: #E5E5E5;
        display: flex;
        flex-direction: column;
        padding: 11px 14px;
        height: 100vh;
        // card
        .form_card{
            background: #FFFFFF;
            border: 1px solid #E0E6E9;
            box-sizing: border-box;
            box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05);
            border-radius: 5px;
            margin-bottom: 11px;
            padding: 11px;
            // header
            .form_header{
                font-weight: 500;
                font-size: 4.3vw !important;
                color: #364254;
                text-align: right;
            }
            // chaeckbox label
            .form_status{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                text-align: right;
                flex-wrap: wrap;
                // checkbox label
                .form_status_checkboxLabel{
                    display: flex;
                    align-items: center;
                    font-weight: normal;
                    font-size: 4.3vw;
                    letter-spacing: 0.01em;
                    color: #263238;
                    width: 50%;
                    margin: 5px 0px;
                }
                // checkbox
                .form_status_checkbox{
                    border: 1px solid #DADADA;
                    margin: 0px 5px;
                    width: 15px;
                    height: 15px;
                }
                .form_status_checkbox:checked{
                    background-color: #0E4DA4;
                    width: 15px;
                    height: 15px;
                }
            }
            // label
            .form_card_label{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                font-weight: normal;
                font-size: 4.3vw;
                color: #5E7488;
                margin: 15px 0px;
            }
            // input
            .form_card_input{
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                width: 30%;
                height: 27px;
                background: #EBEBEB;
                border-radius: 2px;
                border: none;
                outline: none;
                font-weight: normal;
                font-size: 4vw;
                color: #5E7488;
                margin: 0px 3px;
                padding: 5px 10px;
            }
            // input range
            input[type=range].form_card_input_range {
                width: 100%;
                margin: 8.5px 0;
                background-color: transparent;
                -webkit-appearance: none;
            }
            input[type=range].form_card_input_range:focus {
                outline: none;
            }
            input[type=range].form_card_input_range::-webkit-slider-runnable-track {
                background: #007aff;
                border: 0px solid rgba(0, 0, 0, 0);
                border: 0;
                width: 100%;
                height: 3px;
                cursor: pointer;
            }
            input[type=range].form_card_input_range::-webkit-slider-thumb {
                margin-top: -8.5px;
                width: 20px;
                height: 20px;
                background: #007aff;
                border: 0px solid rgba(0, 0, 0, 0);
                border: 0;
                border-radius: 50px;
                cursor: pointer;
                -webkit-appearance: none;
            }
            input[type=range].form_card_input_range:focus::-webkit-slider-runnable-track {
                background: #1a87ff;
            }
            input[type=range].form_card_input_range::-moz-range-track {
                background: #007aff;
                border: 0px solid rgba(0, 0, 0, 0);
                border: 0;
                width: 100%;
                height: 3px;
                cursor: pointer;
            }
            input[type=range].form_card_input_range::-moz-range-thumb {
                width: 20px;
                height: 20px;
                background: #007aff;
                border: 0px solid rgba(0, 0, 0, 0);
                border: 0;
                border-radius: 50px;
                cursor: pointer;
            }
            input[type=range].form_card_input_range::-ms-track {
            background: transparent;
            border-color: transparent;
            border-width: 8.5px 0;
            color: transparent;
            width: 100%;
            height: 3px;
            cursor: pointer;
            }
            input[type=range].form_card_input_range::-ms-fill-lower {
            background: #006ee6;
            border: 0px solid rgba(0, 0, 0, 0);
            border: 0;
            }
            input[type=range].form_card_input_range::-ms-fill-upper {
            background: #007aff;
            border: 0px solid rgba(0, 0, 0, 0);
            border: 0;
            }
            input[type=range].form_card_input_range::-ms-thumb {
            width: 20px;
            height: 20px;
            background: #007aff;
            border: 0px solid rgba(0, 0, 0, 0);
            border: 0;
            border-radius: 50px;
            cursor: pointer;
            margin-top: 0px;
            /*Needed to keep the Edge thumb centred*/
            }
            input[type=range].form_card_input_range:focus::-ms-fill-lower {
            background: #007aff;
            }
            input[type=range].form_card_input_range:focus::-ms-fill-upper {
            background: #1a87ff;
            }
            /*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
            how to remove the virtical space around the range input in IE*/
            @supports (-ms-ime-align:auto) {
            /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
            input[type=range].form_card_input_range {
                margin: 0;
                /*Edge starts the margin from the thumb, not the track as other browsers do*/
            }
            }

        }
    }
    // buttons form
    .form_buttons{
        width: 96%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 62px;
        position: fixed;
        bottom: 0px;
        background-color: #fff;
        box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.05);
        z-index: 11000;
        .form_buttonSubmit{
            width: 60%;
            height: 47px;
            background: #007AFF;
            border-radius: 2px;
            font-weight: normal;
            font-size: 4.3vw;
            text-align: center;
            color: #FFFFFF;
            border: none;
            outline: none;
            // margin-left: 5px;
        }
        // clear filter
        .form_clearFilter{
            width: 30%;
            height: 47px;
            cursor: pointer;
            background: #FFFFFF;
            border: 1px solid #007AFF;
            box-sizing: border-box;
            border-radius: 2px;
            font-size: 4.3vw;
            text-align: center;
            color: #007AFF;
            padding: 8px;
            margin-right: 10px;
        }
    }
}