@import './comments.scss';
// div wrapper
.wrapperDetails{
    width: 100%;
    background-color: #f5f5f5;
    font-family: 'vazir';
    font-size: small;
    .firstContent{
        width: 90%;
        direction: rtl;
        margin: auto;
        background-color: #fff;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        .starRating{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 26px;
            span{
                font-size: 14px;
                padding: 0px 10px;
                color: #8d8d8d;
            }
        }
        .span{
            -webkit-text-decoration-line: line-through; /* Safari */
            text-decoration-line: line-through; 
        }
        div{
            span{
                margin: 6px 0px;
            }
            small{
                -webkit-text-decoration-line: line-through; /* Safari */
                text-decoration-line: line-through;   
            }
        }
        .discountedPrice{
            color: #ec406a;
            font-size: medium;
        }
        .colorProduct{
            width: max-content;
            text-align: center;
            padding: 5px 10px;
            border: 1px solid #10ace7;
            border-radius: 3px;
        }
        button{
            background-color: #28a745;
            border-radius: 5px;
            border: none;
            outline: none;
            color: #fff;
            height: 40px;
            // background-image: url('../../../image/product/basket.JPG');
            background-repeat: no-repeat;
            background-size: 25px 25px;
            background-position: 78% center;
        }
        .send{
            padding-right: 25px;
            // background-image: url('../../../image/product/send.JPG');
            background-repeat: no-repeat;
            background-size: 23px 23px;
            background-position: right center;
        }
        .city{
            padding-right: 25px;
            // background-image: url('../../../image/product/city.JPG');
            background-repeat: no-repeat;
            background-size: 25px 25px;
            background-position: right center;
        }
    }
}
// .divCustomTab__div--titleActive{
//     color: #00a7e6 !important;
//     border-bottom: 2px solid #00a7e6;
// }