/* General */


/* btn */

.btn {
    border: none;
    background: none;
    outline: 0;
}

.btn:focus {
    outline: 0;
}

.btnSubmit {
    background-color: #007aff;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
    height: 40px;
}

.btnProblem {
    background-color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    color: #007aff;
    margin-right: 15px;
    border: 1px solid #007aff;
    box-sizing: border-box;
    border-radius: 5px;
    height: 40px;
}

.status_button {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 25px;
    margin-left: 14px;
}

.status_button_one {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 25px;
}


/* Start     Input */

.input_setting {
    margin-top: 20px;
}

.inputWid {
    display: grid;
    height: 45px;
}

.inputWid>input {
    background: #ffffff;
    border: 1px solid #e0e6e9;
    box-sizing: border-box;
    border-radius: 5px;
    direction: ltr;
    font-size: 15px;
    color: #364254;
    padding: 11px;
}

.inputWidRtl {
    display: grid;
    height: 45px;
}

.inputWidRtl>input {
    background: #ffffff;
    border: 1px solid #e0e6e9;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 15px;
    color: #364254;
    padding: 11px;
}

.inputWidRtlH {
    display: grid;
    height: 80px;
}

.inputWidRtlH>textarea {
    background: #ffffff;
    border: 1px solid #e0e6e9;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 15px;
    color: #364254;
    padding: 11px;
}


/*  End    Input */


/* General */

.setting {
    grid-column: 1/-1;
    grid-row: 1/-1;
}


/* Head Name */

.HeadName {
    border-bottom: 2px solid #007aff;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.HeadName>h1 {
    font-weight: 500;
    font-size: 15px;
    color: #0054dc;
    margin-top: 20px;
}


/* Start Header */

.header {
    background-color: #ffffff;
    border: 1px solid #efefef;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.03);
}

.header_title {
    padding: 16px;
    color: #000000;
    margin-bottom: 30px;
}

.header_menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.header_menu_btn {
    background-color: #ffffff;
    border: 0;
    cursor: pointer;
}

.header_menu_btn:focus {
    outline: 0;
}

.onBtn {
    border-bottom: 2px solid #007aff;
    padding-bottom: 8px;
}


/* End Header */


/* Srart Setting Content */

.wrapper {
    background-color: #ffffff;
    padding: 10px 15px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}


/* Strat..... Hojreh */


/* Start.....HeadHojreh */

.Hojreh_head {
    height: 100px;
    border-radius: 5px;
    background-color: blue;
    margin-top: 20px;
    position: relative;
    &_pic {
        width: 70px;
        height: 70px;
        background-color: rgb(245, 95, 9);
        border-radius: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
        margin-left: auto;
    }
    &_edit_icon {
        display: flex;
        background-color: #fff;
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        align-items: center;
        justify-content: center;
        bottom: 3px;
        right: 3px;
        span {
            font-size: 20px;
        }
    }
}

.Hojreh_head_edit_icon_pic {
    display: flex;
    background-color: #fff;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    bottom: -6px;
    right: -10px;
}

.Hojreh_head_edit_icon_pic>span {
    font-size: 20px;
}


/* End.....HeadHojreh */


/* End..... Hojreh */


/*Start..... Setting Hesab Banki */

.note {
    background: #f3f6ff;
    border: 1px solid #3366ff;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.note>span {
    font-size: 20px;
    margin-right: 15px;
    color: #3366ff;
}

.note_text {
    color: #3366ff;
    font-size: 14px;
    padding: 12px;
    line-height: 200%;
}


/*End..... Setting Hesab Banki */


/* End Setting Content */

// %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
// Styles For Desktop
.Hojreh_headD {
    height: 100px;
    border-radius: 5px;
    background-color: blue;
    margin-top: 20px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    &_pic {
        width: 70px;
        height: 70px;
        background-color: rgb(245, 95, 9);
        border-radius: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
        margin-left: auto;
        .Hojreh_headD_edit_icon_pic {
            display: flex;
            background-color: #fff;
            position: absolute;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            align-items: center;
            justify-content: center;
            bottom: -6px;
            right: -10px;
        }
    }
    &_edit_icon {
        display: flex;
        background-color: #fff;
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        align-items: center;
        justify-content: center;
        bottom: 3px;
        right: 3px;
        span {
            font-size: 20px;
        }
    }
}

.Hojreh_headD_edit_icon_pic>span {
    font-size: 20px;
}

.hojrehD {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 60px;
    .explain {
        margin-left: 100px;
        align-items: center;
        text-align: justify;
        font-family: IRANSans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
    }
}

.spaceGridD {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 60px;
    .explain {
        margin-left: 100px;
        align-items: center;
        text-align: justify;
        font-family: IRANSans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
    }
}

.AddressGridD {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 60px;
    .explain {
        margin-left: 100px;
        align-items: center;
        text-align: justify;
        font-family: IRANSans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
    }
}

.HesabBankiGridD {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 60px;
    .explain {
        margin-left: 100px;
        align-items: center;
        text-align: justify;
        font-family: IRANSans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        margin-top: 20px;
    }
}

.LinksGridD {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 60px;
    .explain {
        margin-left: 100px;
        align-items: center;
        text-align: justify;
        font-family: IRANSans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
    }
}