.btn {
    border: none;
    background: none;
    outline: 0;
}

.btn:focus {
    outline: 0;
}

.btnSubmit {
    background-color: #007aff;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    color: #ffffff;
    margin-left: 15px;
    border-radius: 5px;
    height: 40px;
}

.btnProblem {
    background-color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    color: #007aff;
    margin-right: 15px;
    border: 1px solid #007aff;
    box-sizing: border-box;
    border-radius: 5px;
    height: 40px;
}

.wrapper {
    direction: rtl;
    grid-column: 1/-1;
    text-align: right;
    margin: 16px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 10px;
}

.wrapper>* {
    background: #ffffff;
    border: 1px solid #e0e6e9;
    box-sizing: border-box;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.header {
    padding: 15px;
}

.content>* {
    margin-right: 14px;
}

.content:last-child {
    margin-bottom: 30px;
}


/* وضعیت  سفارش */

.title_status_pat {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.title_status {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    background: rgba(8, 147, 25, 0.15);
    border-radius: 8px;
    color: #089319;
    padding: 10px;
}

.place_icon {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: #e0e6e9;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.place_icon_two {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: #ffb020;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.place_icon_three {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: #00d69a;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order_status_all {
    margin-right: 30px;
    margin-top: 30px;
}

.order_status_oneLevel {
    display: flex;
}

.order_status_right_icon {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order_status_button {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 25px;
    margin-left: 14px;
}

.btn_code {
    background: #ffffff;
    border: 1px solid #e0e6e9;
    box-sizing: border-box;
    border-radius: 5px;
}

.post_information_content {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.post_information_h3 {
    margin-top: 9px;
}

.post_details_content {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.post_details_content>*:last-child {
    margin-left: 15px;
    color: #364254;
}

.order_status_code {
    display: grid;
    grid-template-rows: 1fr;
    margin-top: 30px;
    height: 40px;
    margin-left: 15px;
}


/* کالاهای خریدار ی شده */

.purchased_good_content {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.purchased_good_one {
    display: flex;
}

.purchased_good_two {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

.good_three_content {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.good_three_content>*:last-child {
    color: #364254;
}

.good_three_content_sub {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin: 30px 15px;
    color: #364254;
}

.purchased_good_three {
    border-top: 1px dashed #e0e6e9;
}

.good_four {
    display: flex;
    justify-content: center;
}


/* فاکتور نهایی */

.final_invoice_content {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.final_invoice_content>*:last-child {
    margin-left: 15px;
    color: #364254;
}

.final_invoice_content_sub {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin: 30px 15px;
    color: #364254;
}

// @@@@@@@@@@@@@@@@@@@@@@ @@@@@@@@@@@ @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// Styles For Desktop
.order_statusD {
    display: flex;
    flex-direction: column;
    &_first {
        display: flex;
        margin: 17px 26px;
        align-items: center;
        h3 {
            margin-left: 30px;
        }
        .title_status_patD {
            display: flex;
            justify-content: center;
        }
    }
}

.contentD {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.order_status_allD {
    display: flex;
    margin-right: 24px;
}

.order_statusD_button {
    display: flex;
    flex-direction: column;
    button {
        width: 135px;
        height: 35px;
        margin: 8px 18px;
    }
}

.contentinfD {
    display: grid;
    grid-template-columns: 50fr 25fr 25fr;
    grid-template-rows: 2fr;
    margin-right: 25px;
    margin-bottom: 25px;
    row-gap: 25px;
}

.post_informationD {
    &_content {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }
}

.contentpostD {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin: 25px;
    div {
        margin-left: 30px;
    }
}

.order_statusD_code {
    display: grid;
    grid-template-rows: 1fr;
    // margin-top: 30px;
    height: 40px;
    margin-left: 15px;
    margin-top: 11px;
    margin-bottom: 11px;
}

.ButtonsGridD {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    margin-right: 15px;
}

.order_statusDcod_button {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 14px;
    margin-top: 11px;
    margin-bottom: 11px;
}

.HeaderTableD {
    background-color: slateblue;
    height: 50px;
}