.wrapper {
  grid-column: 1/-1;
  grid-row: 1/-1;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.Header {
  height: 53px;
  background: #ffffff;
  border: 1px solid #efefef;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.03);
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
}

.btn {
  height: 70px;
  background: #fff;
  outline: 0;
  border: 0;
  border-bottom: 1px solid #efefef;
  cursor: pointer;
}

.in_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn_icon {
  border: none;
  background: none;
  cursor: pointer;
}
