/*fonts of page is vazir */
@font-face {
  font-family: 'vazir';
  src:  url('./Vazir.eot') format('eot'),
        url('./Vazir.woff') format('woff'),
        url('./Vazir.ttf') format('ttf');
  font-style: normal;
  font-display: fallback;
}